name: MLflow CI Training

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install mlflow dagshub gdown pandas numpy scikit-learn matplotlib seaborn

    - name: Run MLflow Project
      env:
        DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_USER_TOKEN }}
        MLFLOW_TRACKING_URI: https://dagshub.com/Fitznug045/tes-repo.mlflow
        MLFLOW_TRACKING_USERNAME: Fitznug045
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_USER_TOKEN }}
      run: |
        cd MLProject
        mlflow run . --env-manager=local

